<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> CoffeePlanet </title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<! [endif]-->	
</head>
	<body>
		<header class="header">
			<nav class="navigation container">
				<a href="index.html" class="navigation__logo">
					<img src="../img/logo.png" alt="CoffeePlanet logotype" class="logotype">
				</a>
				<ul class="navigation__ul">
					<li class="navigation__li">
						<a href="#" class="navigation__link">
							Menu
						</a>
					</li>
					<li class="navigation__li">
						<a href="#" class="navigation__link">
							About
						</a>
					</li>
					<li class="navigation__li">
						<a href="#" class="navigation__link">
							Features
						</a>
					</li>
					<li class="navigation__li">
						<a href="#" class="navigation__link">
							Contacts
						</a>
					</li>
					<li class="navigation__li_tel">
						<a href="tel:+12538675413" class="navigation__link_tel">
							+1 253 867-54-13
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h1 class="visually-hidden">
				CoffeePlanet's site
			</h1>
			<div class="first_screen">
				<div class="container">
					<div class="slogan">
						<p class="slogan__text">
							More than simple coffee
						</p>
						<p class="slogan_btns">
							<a href="#" class="btn slogan__btn">
								Book a table
							</a>
							<a href="#" class="btn slogan__btn slogan__btn_white">
								Watch video
							</a>
						</p>
					</div>
				</div>
			</div>
			<h2 class="visually-hidden">
				Feedbacks
			</h2>
			<section class="feature">
				<h2 class="feature__head">Our features</h2>
					<p class="feature__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste maiores, nihil exercitationem odio consequatur distinctio earum officiis suscipit quidem accusantium reiciendis dolorem architecto possimus doloribus? Non porro quam repudiandae!</p>
					{% set featuresData = [
						{
							name:'Coffee and tea',
							src: '../img/icons/noun_Coffee_848419.svg',
							text:'Coffee and tea'
						},
						{
							name:'Coffee and tea',
							src: '../img/icons/noun_muffin_572526.svg',
							text:'Tasty sweets'
						},
						{
							name:'Coffee and tea',
							src: '../img/icons/noun_wifi_2452937.svg',
							text:'Free WiFi'
						},
						{
							name:'Coffee and tea',
							src: '../img/icons/noun_Sofa_1526269.svg',
							text:'Comfortable seats'
						}
						] %}
						<ul class="feature__rows">
							{% for feature in featuresData %}
							<li class="feature__card">
								<figure>
									<img class="feature__icon" src="{{ feature.src }}" alt="{{ feature.name }}">
								</figure>
								<figcaption class="feature__text">{{ feature.text }}</figcaption>
							</li>
							{% endfor %}
						</ul>
			</section>
			<section >
				<p class="feedback_header">Our happy visitors:</p>
				{% set usersData = [
					{
						name:'Denis Simpson',
						header:'Denis Simpson',
						src: 'img/man01.jpg',
						date:'30.04.2019'
					},
					{
						name:'Andrew Smith',
						header:'Andrew Smith',
						src: 'img/man02.jpg',
						date:'24.08.2018'
					},
					{
						name:'George Cuper',
						header:'George Cuper',
						src: 'img/man03.jpg',
						date:'12.05.2018'
					},
					{
						name:'Viktor Bublik',
						header:'Viktor Bublik',
						src: 'img/man04.jpg',
						date:'12.01.2018'
					}
				] %}
				<ul class="rows">
					{% for user in usersData %}
					<li class="card">						
						<figure>
							<img class="card__photo" src="{{ user.src }}" alt="{{ user.name }}">
							<figcaption class="card__title">{{ user.header }}</figcaption>
						</figure>
						<p class="card__feedback" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis voluptatibus consequatur atque sapiente qui, illum aperiam alias quas cupiditate temporibus, quod sint ullam adipisci voluptatem deserunt sunt, veniam eum.</p>
						<time class="card__date">{{ user.date }}</time>
					</li>
					{% endfor %}
				</ul>
			</section>
		</main>
		<script src="./js/js.js"></script>
	</body>
</html>