<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> CoffeePlanet </title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<! [endif]-->	
	</head>
	<body>
		<header class="header">
			<nav class="navigation container">
				<a href="index.html" class="navigation__logo">
					<img src="img/logo.png" alt="CoffeePlanet logotype" class="logotype">
				</a>
				<ul class="navigation__ul">
					<li class="navigation__li">
						<a href="#menu" class="navigation__link">
							Menu
						</a>
					</li>
					<li class="navigation__li">
						<a href="#about" class="navigation__link">
							About
						</a>
					</li>
					<li class="navigation__li">
						<a href="#features" class="navigation__link">
							Features
						</a>
					</li>
					<li class="navigation__li">
						<a href="#contacts" class="navigation__link">
							Contacts
						</a>
					</li>
					<li class="navigation__li_tel">
						<a href="tel:+12538675413" class="navigation__link_tel">
							+1 253 867-54-13
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="first_screen">
				<h1 class="visually-hidden">
					CoffeePlanet's site
				</h1>
				<div class="container">
					<div class="slogan">
						<p class="slogan__text">
							More than simple coffee
						</p>
						<p class="slogan_btns">
							<a href="#" class="btn slogan__btn">
								Book a table
							</a>
							<a href="#" class="btn slogan__btn slogan__btn_white">
								Watch video
							</a>
						</p>
					</div>
				</div>
			</section>
			<section id="menu" class="catalog container">
				<h2 class="catalog__header">
					Make a choice
				</h2>
				<p class="catalog__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
				</p>
				<ul class="catalog__tab">
					<li class="catalog__tab_li active">
						<a href="#coffee" class="catalog__tab_a">
							coffee
						</a>
					</li>
					<li class="catalog__tab_li">
						<a href="#sweets" class="catalog__tab_a">
							sweets
						</a>
					</li>
					<li class="catalog__tab_li">
						<a href="#snacks" class="catalog__tab_a">
							snacks
						</a>
					</li>
				</ul>
				<ul class="catalog__content">
					<li id="coffee" class="catalog__content_li row active">
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Chocolate Mint Mocha
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Chocolate Mint Mocha
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Chocolate Mint Mocha
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Chocolate Mint Mocha
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
					</li>
					<li id="sweets" class="catalog__content_li row d-n">
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Sweets
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Sweets
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Sweets
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Sweets
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
					</li>
					<li id="snacks" class="catalog__content_li row d-n">
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Snacks
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Snacks
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Snacks
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
						<a href="#" class="catalog__content_a">
							<figure>
								<img class="catalog__content_photo" src="img/mit-chip-frappe.jpg" alt="Chocolate Mint Mocha">
								<figcaption class="catalog__content_title">
									Snacks
								</figcaption>
							</figure>
							<p class="catalog__content_price">
								$3
							</p>
						</a>
					</li>
				</ul>
			</section>
			<section id="about" class="welcome container">
				<img src="img/slider.jpg" alt="Photos Inside Cafe" class="welcome__slider">
				<h2 class="welcome__header">
					Welcome to CoffeePlanet
				</h2>
				<p class="welcome__text1">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				</p>
				<p class="welcome__text2">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				</p>
				<p class="welcome__text3">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste 	
				</p>
			</section>
			<section id="features" class="features container">
				<h2 class="features__head">
					Our features
				</h2>
				<p class="features__about">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				</p>
				<ul class="features__list">
					<li class="features__card features__card_coffee">
						Coffee and tea
					</li>
					<li class="features__card features__card_sweets">
						Tasty sweets
					</li>
					<li class="features__card features__card_wifi">
						Free WiFi
					</li>
					<li class="features__card features__card_seats">
						Comfortable seats
					</li>
				</ul>
				</section>
				<section class="feedback container" >
					<h2 class="feedback__header">Our happy visitors:
					</h2>
					{% set usersData = [
						{
							name:'Denis Simpson',
							header:'Denis Simpson',
							src: 'img/man01.jpg',
							date:'30.04.2019',
							datetime: '2019-04-30'
						},
						{
							name:'Andrew Smith',
							header:'Andrew Smith',
							src: 'img/man02.jpg',
							date:'24.08.2018',
							datetime: '2018-08-24'
						},
						{
							name:'George Cuper',
							header:'George Cuper',
							src: 'img/man03.jpg',
							date:'12.05.2018',
							datetime: '2018-05-12'
						}
						] %}
						<ul class="feedback__rows">
							{% for user in usersData %}
							<li class="feedback__card">						
								<figure>
									<img class="feedback__photo" src="{{ user.src }}" alt="{{ user.name }}">
									<figcaption class="feedback__title">{{ user.header }}</figcaption>
								</figure>
								<p class="feedback__text" >
									Lorem ipsum dolor sit amet, conse tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
								</p>
								<time class="feedback__date" datetime="{{ user.datetime }}">{{ user.date }}</time>
							</li>
							{% endfor %}
						</ul>
					</section>
				</main>
				<script src="./js/js.js"></script>
			</body>
			</html>