@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';

*,
*:before,
*:after{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.bg-color {
	background-color: #fff;
	/**	background: linear-gradient(to bottom right, #007fc2, #00d6ee);**/
}
.visually-hidden {
	width: 1px;
	height: 1px;
	margin-top: -1px;
	margin-left: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0,0,0,0);
}
.container{
	.wrapper();
}
.header {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: #fff;
	color: #000;
	font-size: 48px;
	padding-top: 100px;
	padding-bottom: 50px;
}
.rows {
	.row-flex();
	.xs-block({
		justify-content: flex-start;
		});
	.lg-block({
		justify-content: flex-start;
		});
}
.card {
	.col();
	.size(4);
	.size-lg(4);
	.size-md(6);
	.size-sm(6);
	.size-xs(12);
	padding: 50px 30px 60px 30px;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 20px;	
	list-style-type: none;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.17);
	&__photo {
		border-radius: 50%;
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		background: #fff;
		color: #000;
		font-size: 18px;
		line-height: 50px;
		padding-bottom: 10px;
		padding-top: 20px;
	}
	&__feedback {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		background: #fff;
		color: #000;
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 25px;
	}
	&__date {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		background: #fff;
		font-size: 16px;
		line-height: 24px;
		margin-top: 10px;
		color: #777777;
		font-style: italic;
	}
}
.feature {
	background-color: #fff;
	margin-bottom: 45px;
	&__head {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		background: #fff;
		color: #000;
		font-size: 48px;
		margin-top: 30px;
		margin-bottom: 25px;
	}
	&__about {
		margin: 0 auto;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		background: #fff;
		color: #000;
		font-size: 16px;
		line-height: 21px;
		width: 566px;
	}
	&__icon {
		border-radius: 50%;
		margin-bottom: 20px;
		background-color: #eaf4eb;
		height:100px;
		width: 100px;
		padding: 15px;
		position: relative;
		left: 100px;
	}
	&__text {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		background: #fff;
		color: #000;
		font-size: 16px;
		margin: 0 auto;
	}
}
.feature__rows {
	.row-flex();
	.xs-block({
		justify-content: center;
		});
	.lg-block({
		justify-content: center;
		});
	.feature__card{
		margin-top: 30px;
		.col();
		.size(3);
		.size-lg(3);
		.size-md(4);
		.size-sm(6);
		.size-xs(12);
		margin-bottom: 25px;
		list-style-type: none;
	}
}