@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
/*
@import 'libs/bootstrap.min.css';
*/
*,
*:before,
*:after{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.visually-hidden {
	width: 1px;
	height: 1px;
	margin-top: -1px;
	margin-left: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0,0,0,0);
}
.alert-primary {
	background-color: red;
}
.my-card {
	margin-bottom: 20px;
	background-color:#000;
}
.content{
	height: 100px;
	border-radius: 10px;
	background-color: crimson;
}
.my-smart-grid{
	margin-top: 30px;
}

.my-wrapper{
	.wrapper();
}
.my-row{
	.row-flex();
	.xs-block({
		justify-content: center;
		});
	.lg-block({
		justify-content: flex-end;
		});
	.content{
		margin-bottom: 20px;
		.col();
		.size(2);
		.size-md(4);
		.size-sm(6);
		.size-xs(10);
		.shift-left(1);
	}
}