@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';

*,
*:before,
*:after{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #000;
}

/** Global classes **/
.visually-hidden {
	width: 1px;
	height: 1px;
	margin-top: -1px;
	margin-left: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0,0,0,0);
}
.container{
	.wrapper();
}
.row{
	.row-flex();
}
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.clear {
	clear: both;
}
.icon{
	@size: 15px;
	min-width: @size;
	min-height: @size;
}
img, svg {
	max-width: 100%;
	height: auto;
}
.btn {
	background-color: @green;
	width: 213px;
	height: 57px;
	border-radius: 29px;
	font-weight: 600;
	color: #fffefe;
	box-shadow: 0px 7px 21px 0px rgba(55, 125, 60, 0.3);
	border: none;
	display:inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 57px;
	.media (486px, {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
	});
	&:hover {
		transition: 0.5s;
		background-color: @green_line;
		color: #fff;
	}
}
a:focus,
a:active {
	outline: 2px solid @green_line;
}
/** Atomic classes **/
.d-n {
	display: none;
}
.d-b {
	display: block;
}
/** General classes **/
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.mobile-menu {
	display: none;
	.media (650px, {
		display: block;
	});
	background-color: transparent;
	border: 2px solid #000;
	border-right-color: transparent;
	border-left-color: transparent;
	width: 30px;
	height: 20px;
	position:relative;
	transition: 0.5s;
	&.closer {
		position: fixed;
		@offset: 20px;
		top: @offset;
		right: @offset;
		z-index: 5;
	}
	&:hover, &:active, &:focus, &.closer {
		border-top-color: @green_line;
		border-bottom-color: @green_line;
		outline: none;
		transform: scaleY(1.3);
	}
	&:hover:before, &:active:before, &:focus:before, &.closer:before {
		border-bottom-color: @green_line;
	}
	&:before{
		content: '';
		display: block;
		height: 2px;
		border-bottom: 2px solid #000;
		position: absolute;
		right: 0;
		top: 50%;
		left: 0;		
		margin-top: -1px;
	}
}
.first_screen {
	padding-top: 185px;
	background: #fff url(../img/first-scr.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 265px;
	min-height: 100vh;
	background-position: 50% 50%;
}
.navigation {
	display: flex;
	justify-content: space-between;
	padding: 45px;
	align-items: center;
	&__ul {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		flex-grow: 1;
		.media (650px, {
			display: none;
		});
		.media (400px,  {
			position: absolute;
			top: 80px;
			left: 70px;
		});
		.media (320px,  {
			left: 15px;
		});
		&.isOpened {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: fixed;
			z-index: 4;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(0,0,0,0.9);
			li {
				margin: 0;
				text-align: center;
			}
			li + li {
				margin-top: 30px;
			}
			a {
				font-size: 48px;
				color: #fff;
			}
		}
	}
	&__li + &__li {
		padding-left: 15px;
	}
	&__li {
		&_tel {
			padding-left: 54px;
			.media (560px,  {
				position: absolute;
				top: 70px;
				});
		}
	}
	&__link {
		text-decoration: none;
		font-size: 14px;
		color: #000;
		position: relative;
		&:after {
			content: '';
			display: block;
			border-bottom: 1px solid @green_line;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			transition: width 0.3s;
		}
		&:hover:after {
			width: 100%;
		}
		&_tel {
			text-decoration: none;
			font-size: 14px;
			color: #000;
			position: relative;
			&:after {
				content: '';
				display: block;
				border-bottom: 1px solid @green_line;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				transition: width 0.3s;
			}
			&:hover:after {
				width: 100%;
			}
		}
	}	
}
.slogan {
	&__text {
		.size(7);
		font-size: 6.25vw;
		line-height: 1.3;
		margin-bottom: 50px;
		.media (800px, {
			font-size: 50px;
		});
		
	}
	&__btn_white {
		margin-left: 25px;
		border: 2px solid @green_line;
		background-color: transparent;
		color: #000;
	}
}
@media screen and (min-width: 1441px) {
    .slogan__text {
        font-size: 4.6875vw;
    }
}
.catalog {
	padding-top: 180px;
	padding-bottom: 85px;
	.media (600px, {
		padding-bottom: 20px;
		padding-top: 60px;
	});
	&__header{
		text-align: center;
		font-size: 48px;
		font-weight: 400;
		padding-bottom: 45px;
		.media(330px,  {
			font-size: 32px;
		});
	}
	&__text {
		margin: 0 auto;
		margin-bottom: 60px;
		text-align: center;
		width: 570px;
		font-size: 14px;
		line-height: 21px;
		color: #555;
		.media(586px,  {
			width: 90%;
		});
	}
	&__tab {
		margin-bottom: 35px;
		display: flex;
		justify-content: center;
		align-items: baseline;
		list-style: none;
		&_li {		
			font-size: 16px;
			font-weight: 600;
			padding: 2px 5px;
			border-bottom: 2px solid transparent;
			transition: 0.5s;
			& + & {
				margin-left: 55px;
				.media (365px, {
					margin-left: 30px;
				});
			}
			&.active, &:hover, &:focus, &:active {
				border-bottom: 2px solid @green_line;
				a {
					color: @green;
				}
			}
		}
		&_a {
			text-decoration: none;
			color: #000;
			transition: 0.5s;
			&:hover, &:focus, &:active {
				color: @green;
			}
		}
	}
	&__content {
		padding-bottom: 70px;
		&_li {
			list-style-type: none;
			text-align: center;
			&.active{
				display: flex;
			}
			ul {
				.xs-block ({
					justify-content: center;
				});
			};
		}
		&_card {
			.col();
			.size(3);
			.size-lg(3);
			.size-md(4);
			.size-sm(6);
			.size-xs(10);
			list-style-type: none;
		}
		&_photo {
			width: 100%;
			height: auto;
		}
		&_title {
			font-size: 16px;
			font-weight: 400;
			line-height: 21px;
			color: #010101;
			padding-top: 30px;
		}
		&_price {
			font-size: 16px;
			line-height: 21px;
			color: @green;
			font-weight: 700;
			padding: 15px 0px;
		}
	}
}
.welcome {
	padding-top: 70px;
	padding-bottom: 115px;
	.media (600px, {
		padding-bottom: 0px;
		padding-top: 0px;
	});
	&__header {
		font-size: 48px;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 55px;
		line-height: 1.1;
		.media(330px,  {
			font-size: 32px;
			});
	}
	&__text {
		font-size: 14px;
		margin-bottom: 25px;
		font-weight: 400;
		line-height: 20px;
	}
	&__btn {
		border: none;
		color: @green;
		border-bottom: 1px solid @green_line;
		font-size: 16px;
		font-weight: 600;
		background-color: transparent;
	}
	&__slider {
		width: 100%;
	}
}

.slider-container {
	margin-right: 20px;
	margin-bottom: 40px;
	float: left;
	text-align: right;
	&__btn {
		margin-top: 15px;
		border: none;
		background-color: transparent;
		@size: 21px;
		width: @size;
		height: @size;
		overflow: hidden;
		&_next {
			margin-left: 10px;
		}
		&_prev:before {
			transform: rotate(180deg);
			transform-origin: 50% 35%;
		}
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-image: url(../img/icons/ico-arrow.svg);
			background-repeat: no-repeat;
		}
	}
	.media (960px, {
		float: none;
	})
}
.features {
	padding-top: 115px;
	margin-bottom: 45px;
	text-align: center;
	.media (600px, {
		margin-bottom: 40px;
		padding-top: 45px;
	});
	&__head {
		font-size: 48px;
		font-weight: 400;
		margin-top: 30px;
		padding-bottom: 35px;
		.media(330px,  {
			font-size: 32px;
		});
	}
	&__about {
		margin: 0 auto;
		font-size: 16px;
		line-height: 21px;
		width: 570px;
		padding-bottom: 85px;
		.media(571px,  {
			width: 90%;
		});
	}
	&__list {
		.row-flex();
		.lg-block({
			justify-content: center;
			});
	}
	&__card{
		.col();
		.size(3);
		.media (550px, {
			.size(10);
		});
		padding-top: 110px;
		padding-bottom: 15px;
		list-style-type: none;
		font-weight: 600;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			@size: 75px;
			width: @size;
			height: @size;
			left: 50%;
			top: 5%;
			border-radius: 50%;
			background-color: #eaf4eb;
			transform: translateX(-50%);
			z-index: -1;
		}
		& + & {
			border-left: 1px solid #dddddd;
			.media (550px, {
				border-left: none;
			});
		}
		background-repeat: no-repeat;
		background-size: 35px 30px;
		background-position: center 30px;
		&_coffee {
			background-image: url(../img/icons/noun_Coffee_848419.svg);
		}
		&_sweets {
			background-image: url(../img/icons/noun_muffin_572526.svg);
		}
		&_wifi {
			background-image: url(../img/icons/noun_wifi_2452937.svg);
		}
		&_seats {
			background-image: url(../img/icons/noun_Sofa_1526269.svg);
		}
	}
	&__icon {
		border-radius: 50%;
		margin-bottom: 20px;
		background-color: @green_line;
		height: 75px;
		width: 75px;
		padding: 20px;
		position: relative;
		left: 100px;
	}
	&__text {
		text-align: center;
		font-weight: 600;
		font-size: 16px;
		margin: 0 auto;
	}
}
.feedback {
	margin-bottom: 185px;
	.media (600px, {
		margin-bottom: 70px;
	});
	&__header {
		text-align: center;
		font-size: 48px;
		font-weight: 400;
		padding-top: 100px;
		padding-bottom: 50px;
		.media(330px,  {
			font-size: 32px;
		});
		.media (600px, {
			padding-top: 50px;
		});
	}
	&__rows {
		.row-flex();
		.xs-block({
			justify-content: center;
			});
		.sm-block({
			justify-content: center;
			});
	}
	&__card {
		.col();
		.size(4);
		.size-lg(4);
		.size-md(6);
		.size-sm(10);
		.size-xs(10);
		padding: 50px 30px 60px 30px;
		background: #fff;
		border-radius: 10px;
		margin-bottom: 20px;	
		list-style-type: none;
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.17);
	}
	&__photo {
		border-radius: 50%;
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 18px;
		line-height: 50px;
		padding-bottom: 10px;
		padding-top: 20px;
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 25px;
	}
	&__date {
		font-size: 16px;
		line-height: 24px;
		margin-top: 10px;
		color: #777777;
		font-style: italic;
	}
}
.contacts {
	padding-bottom: 45px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&-info {
		width: 33.3333%;
		flex-grow: 1;
		&__header {
			font-weight: 400;
			color: #000;
			font-size: 48px;
			margin-bottom: 65px;
			.media(330px,  {
				font-size: 32px;
			});
			.media (800px, {
				text-align: center;
			})
		}
		&__p {
			font-weight: 400;
			color: #000;
			font-size: 16px;
			margin-bottom: 20px;
			&:before {
				content: '';
				display: inline-block;
				@size: 16px;
				width: @size;
				height: @size;
				margin-right: 1rem;
				background-repeat: no-repeat;
				transform: translateY(3px);
			}
			&_time:before {
				background-image: url(../img/icons/ico-time.svg)
			}
			&_address:before {
				background-image: url(../img/icons/ico-address.svg)
			}
			&_tel:before {
				background-image: url(../img/icons/ico-phone.svg)
			}
			&_mail:before {
				background-image: url(../img/icons/ico-email.svg)
			}
		}
		&__link {
			color: #000;
			text-decoration: none;
		}
	}
	&-map {
		width: 66.6667%;
		.media (800px, {
			width: 100%;
			margin-top: 20px;
		})
	}
}
.footer {
	text-align: center;
	font-size: 14px;
	color: #555;
	margin-bottom: 40px;
}